<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#60;Tech Blog&#47;&#62;</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
    <h1><a href="/">&#60; Tech Blog &#47;&#62;</a></h1>
    <nav>
        {{#if loggedIn}}
        <a href="/dashboard" class="dashboard-link">Dashboard</a>
        <button id="logout">Logout</button>
        {{else}}
        <a href="/login" class="login-link">Login</a>
        {{/if}}
    </nav>
</header>

<body>
    <main>
        {{{ body }}}
    </main>
    <footer>
        Thanks for visiting our site!
    </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>