<div class="login-wrapper">
    <h2 class="login-heading">Please login</h2>
    <form id="login-form">
        <div>
            <label for="username-login">Username: </label>
            <input type="text" name="username" id="username-login">
        </div>
        <div>
            <label for="password-login">Password: </label>
            <input type="password" id="password-login">
        </div>
        <button type="submit" class="submit-login">Login</button>
    </form>
    <div class="create-account-wrapper">
        <a href="/signup">Don't have an account? Create one here!</a>
    </div>
</div>

<script src="/javascript/login.js"></script>