<div class="signup-wrapper">
    <h2 class="signup-heading">Please signup</h2>
    <form id="signup-form">
        <div>
            <label for="username-signup">Username: </label>
            <input type="text" name="username" id="username-signup">
        </div>
        <div>
            <label for="password-signup">Password: </label>
            <input type="password" id="password-signup">
        </div>
        <button type="submit" class="submit-signup">Signup</button>
    </form>
    <div class="create-account-wrapper">
        <a href="/login">Already have an account? Login here!</a>
    </div>
</div>

<script src="/javascript/signup.js"></script>